body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
}
li {
    font-weight: bold;
    font-style: italic;
}
.listheader {
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: purple;
}





